.markdown-body {
	background-color: transparent;
	font-size: 14px;

	p {
		white-space: pre-wrap;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	pre code,
	pre tt {
		line-height: 1.65;
	}

	.katexmath-block,
	.highlight pre,
	pre {
		background-color: #fff;
		position: relative;
		&:hover{
			.icon-copy {
				opacity: 1;
			}
		}
	}

	code.hljs {
		padding: 0;
	}

}

html.dark {

	.highlight pre,
	pre {
		background-color: #282c34;
	}
}

.katexmath-block{
 padding: 10px 4px;
 border-radius: 6px;
}

.copy-btn {
	position: absolute;
	top: 4px;
	right: 8px;

	&.clicked .tooltip-copy {
			&::before {
				opacity: 1!important;
			}
			&::after {
				opacity: 1;
			}
	}

	.tooltip-copy {
		position: relative;

		img{
			background-color: transparent;
		}

		&::before {
			content: attr(data-content-before);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 100%;
			margin-right: 5px;
			padding: 2px 7px;
			border-radius: 5px;
			background: #444;
			color: #fff;
			text-align: center;
			opacity: 0;
			transition: opacity .3s;
		}
	 	&::after {
			content: "";
			position: absolute;
			right: 100%;
			margin-right: -5px;
			top: 50%;
			transform: translateY(-50%);
			border-style: solid;
			border-width: 2px 2px 5px 8px;
			border-color: transparent transparent transparent #444;
			opacity: 0;
			transition: opacity .3s;
		}
	}

	.icon-copy {
		opacity: 0;
		transition: opacity .3s;
		height: 18px;
		width: 18px;
		cursor: pointer;
		padding: 5px;
	}
}
