.markdown-body {
	background-color: transparent;

	p {
		white-space: pre-wrap;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	pre code,
	pre tt {
		line-height: 1.65;
	}

	.highlight pre,
	pre {
		background-color: #fff;
	}

	code.hljs{
		padding: 0;
	}

	img{
		background-color: #fff;
	}
}

html.dark {

	.highlight pre,
	pre {
		background-color: #2b2d31;
	}

	.hljs{
		background-color: transparent;
	}

	img{
		background-color: #2b2d31;
	}
}
