.login-container {
  height: 100%;
  min-height: 550px;
  background-size: 100% 100%;
  background-image: url("@/assets/background.png");
  background-size: cover;
  .login-box {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100%;
    .login-left {

      width: 50%;
      height: 100%;
      
      display: flex;
      justify-content: center;
      align-items: end;
      .login-left-text{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .text1-container{
            display: flex;
            justify-content: center;
            width: 100%;
            .text1{
              font-size: 55px;
              color: #1B2559;
              font-weight: bolder;
            }
          }
          .text2-container{
            display: flex;
            justify-content: left;
            width: 100%;
            .text2{
              font-size: 55px;
              color: #1B2559;
              font-weight: bolder;
            }
          }
        }
        
        
      }
      .login-left-img-container{
        display: flex;
        width: 100%;
        justify-content: left;
        .login-left-img {
          width: 40.78%;
          height: 100%;
        }
      }
      
    }
    .login-form-container{
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .login-form {
        width: 70%;
        height: 90%;
        .login-form-header{
          margin-top: 3%;
          margin-bottom: 3%;
          .login-title{
            color: #1B2559;
            font-size: 4rem;
          }
          .login-title-bar{
            height: 7.53px;
            background: linear-gradient(to right,#756EF5 36%,#D75CA7 67%, #F9C82F 94%);
          }
        }
        .login-input{
          width: 100%;
          // height: 6.16vh;
        }
        .login-input-suffix{
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid rgb(224, 224, 230);
          border-right: 1px solid rgb(224, 224, 230);
          border-bottom: 1px solid rgb(224, 224, 230);
          background-color: #8554ED;
          border-radius: 0 10px 10px 0;
          .login-input-suffix-text{
            color: white;
            font-size: 1rem;
          }
        }
        .login-input-suffix-code{
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid rgb(224, 224, 230);
          border-right: 1px solid rgb(224, 224, 230);
          border-bottom: 1px solid rgb(224, 224, 230);
          border-radius: 0 10px 10px 0;
          .login-input-suffix-text{
            color: #8CC1FF;
            font-size: 1rem;
          }
        }
        .login-input-suffix2{
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid rgb(224, 224, 230);
          border-right: 1px solid rgb(224, 224, 230);
          border-bottom: 1px solid rgb(224, 224, 230);
          border-radius: 0 10px 10px 0;
          .login-input-suffix-text2{
            color: white;
            font-size: 12px;
          }
        }
        .login-button-container{
          width: 100%;height: 6.16vh;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          .login-button{
            width: 100%;
            height: 100%;
            border-radius: 10px !important
          }
          .login-back{
            cursor: pointer;
            margin-top: 2%;
            margin-left: auto;
            text-align: center;
            color: #8554ED;
          }
        }
        // padding: 50px 40px 45px;
        // border-radius: 10px;
        // box-shadow: rgb(0 0 0 / 10%) 0 2px 10px 2px;
      }
    }
    
  }
}

@media screen and (width <= 1250px) {
  .login-left {
    display: none !important;
  }
  .login-form-container {
    width: 100% !important;
    padding: 20% !important;
  }
  .login-form{
    padding-right: 0 !important;
    height: auto !important;
  }
}
:deep(.login-input){
  border-radius: 10px;
}
:deep(.n-input .n-input-wrapper){
  padding-right: 0 !important;
}
:deep(.n-input .n-input__suffix){
  width: 30.38% !important;
}
:deep(.n-input .n-input__input-el){
  height: 100% !important;
}
:deep(.n-button.n-button--loading){
  height: 100% !important;
}